In [1]:
import scraper as s
import pandas as pd
import numpy as np
import datetime

In [3]:
m = s.stockMongo()

In [30]:
a = m.stock_data.stock_price.find({'sym': 'AAPL'})
info = ['Previous Close', 'Volume', 'Date']
b = []
b.append([float(a[0]['stockdata']['Previous Close']), a[0]['stockdata']['Volume'], a[0]['stockdata']['date']])
#b.append([float(a[0]['stockdata']['Previous Close']), a[0]['stockdata']['Volume'], a[0]['stockdata']['date']])
c = pd.DataFrame(b, columns=info)
c

   Previous Close      Volume                    Date
0          460.04  41,391,302 2020-08-15 05:56:14.510

In [14]:
a = s.get_yahoo_stocks("AAPL")
a.index = a.index.astype(str)
a

   Previous Close      Volume                       Date
0          460.04  41,391,302 2020-08-15 20:03:18.890398

In [15]:
m.stock_data.stock_price.insert_one({'sym': 'AAPL', 'date': datetime.datetime.now(), 'stockdata': a.to_dict()})

In [26]:
sym = m.stock_data.pricedata.find({'sym': 'AAPL'})
sym.count() > 0

c:\userdata\z003rvhr\python\yahoo_graber\grab\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

False

In [3]:
m.get_stock_data('AAPL')

[]